@import "/src/themes/themes.scss";

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: $font-size54;
  margin: 10%;
  font-weight: 100;
  height: 20vh;

  a {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    color: $black-color;
    background-color: $add-cart-detail;
    font-size: $font-size36;
    outline: none;
    text-decoration: none;
    margin: 5%;
    &:hover {
      cursor: pointer;
      color: $red-colorh;
      transform: translateY(5px);
      transition: 1s all;
      font-weight: 500;
    }
  }
}
@media (max-width: 800px ) {
  div {
    font-size: $font-size16;
    a {
      font-size: $font-size16;
    }
  }
}