@import '/src/themes/themes.scss';

.category-tab-container{
    padding: $main-padding $secondary-padding;
    background: $white-color;
    width: fit-content;
    color: $boton-hover;
    border: 1px solid $boton-prod-color;
    box-shadow: $box-shadow;
    font-size: $font-size36;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        background: $boton-prod-color;
        color: $blackish-color;
        transform: translateY(5px);
        transition: 1s all;
    }
}

.activeTab{
    background: $boton-prod-color;
    color: $boton-hover;
    font-size: 900;
    border-color: $primary-color;
    &:hover{
    //     color :$black-color;
        transform: translateY(0px);
    }
}