@import '/src/themes/themes.scss';

.category-tab-container{
    padding: $main-padding $secondary-padding;
    background: $boton-prod-color;
    width: fit-content;
    color: $blackish-color;
    border: 1px solid $boton-prod-color;
    box-shadow: $box-shadow;
    font-size: $font-size36;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        background: $boton-prod-color;
        color: $boton-hover;
        transform: translateY(5px);
        transition: 1s all;
    }
}