@import '/src/themes/themes.scss';

.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-header-section{
        text-align: center;
        width: 70%;
        .title{
            font-size: $font-size54;
            color: $blackish-color;
            margin-bottom: 18px;
        }

        // .product-description{
        //     font-size: $font-size18;
        //     color: $greyish-color;
        // }

        .category-section{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            column-gap: $secondary-padding;
        }
    }

    .products-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: 48px;
        gap: 23px;
        *{
            width: calc(calc(100%/3) - (23px *2))
        }
    }
}