// colors
$header-color: #6A6C69;
$header-letter: #c7e1e3;
$header-letter-hover: #13d4e2;
$boton-prod-color : #D8EBDF;
$boton-hover: #6A6C69;
$blackish-color: #141616;
$greyish-color: #646867;
$primary-color: #185951;
$secondary-grey: #e8e8e8;
$white-color : #FFFFFF;
$yellowish-color:#F6D06D;
$black-color: #000000;
$font-color: #EBE8E4;
$boton-car:#7C948C;
$boton-carh:#78968c;
$boton-vermas: #89787B;
$price:#2a3447;
$title-name: #1a202c;
$price-detail: #9b676c;
$add-cart-detail: #95FEBC;

// font sizing
$font-size54 :54px;
$font-size16 :16px;
$font-size18 :18px;
$font-size20 :22px;
$font-size22 :22px;
$font-size24:24px;
$font-size28:28px;
$font-size36:36px;
$font-size58: 58px;

//font-weik
$font-weig-tittle:800;
$font-weig-700:700;
$font-weig-500:500;
//spacing 
$main-padding : 16px;
$secondary-padding: 20px;
$tertiary-padding:24px;
$zero-padding:0px;
$detail-padding: 13rem 10rem 0 10rem;
$detail-center:0rem 20rem 0 20rem;
//box shadow

$box-shadow : 0px 4px 16px 0 rgb( 20 20 22/4%);
