@import '/src/themes/themes.scss';

.details-container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: $detail-padding;
    box-sizing: border-box;

    .product-name{
        font-size: $font-size58;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
        font-family:Roboto;
        color: $title-name;
        font-weight: $font-weig-tittle;
    }
    .product-price{
        font-size: 2.5rem;
        font-weight: $font-weig-700;
        color: $price-detail;
    }

    img{
        width: 100%;
        position: relative;
        height: auto;
        min-height: 300px;
        object-fit: contain;
        margin-top:  -7rem;
        z-index: -1;
        
    }
    .btn-add-cart{
        max-width: 300px;
        margin: 1rem 0 0 0;
        padding: 1rem 1rem;
        border: none;
        outline: 0;
        background-color: $add-cart-detail;
        font-size: 1.6rem;
        color: $black-color;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            cursor: pointer;
            background: $secondary-grey;
            color: $blackish-color;
            transform: translateY(5px);
            transition: 1s all;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 1rem;
        max-width: 350px;
        select{
            border: none;
            outline: 0;
            font-size: 2rem;
            background-color: $boton-vermas;
            color: white;
            cursor: pointer;
        }
        .selection{
            padding: 1rem 2rem;
            border-radius: 8px;
            font-size: 2rem;
            font-weight: 600;
            color: white;
        }
      
    }

    .product-description{
        font-size: 1.1rem;
        max-width: 1300px;
        width: 100%;
        letter-spacing: 1px;
        color: #5f5d5d;
        margin: 0 auto;
        font-weight: 500;
    }
    .tittle-descrip{
        font-size: 1.4rem;
        color: #2158da;
    }
  
}