<div class="details-container">
    <p class="product-name"> {{singleProduct?.name}} </p>
    <div class="details-center">
        <p class="product-price"> {{singleProduct?.price | number: '1.3-3'}}</p>
        <div class="grid">
            <select class="selection" name="product-color" >
                <option selected disabled hidden value=""> Selecciona color</option>
                <option *ngFor="let item of singleProduct?.productSize" value="item">{{item}}</option>
            </select>
        </div>

        <div (click)="addToCart()" class="btn-add-cart">Añadir a mi carrito</div>
        <div class="picture-product">
            <img src="{{singleProduct?.image}}" alt="product image">
        </div>
    </div>
    <p class="tittle-descrip">Descripcion</p>
    <p class="product-description"> {{singleProduct?.description}} </p>

</div>