<div class="details-container">
    <div class="details-center">
        <p class="product-name"> Bolso </p>
        <p class="product-price"> 76.000</p>
        <div class="grid">
            <select class="selection" name="" id="">
                <option value=""> Selecciona color</option>
                <option value=""> Negro</option>
                <option value=""> Rojo</option>
                <option value=""> Lila</option>
            </select>
        </div>

        <div class="btn-add-cart">Añadir a mi carrito</div>
    
        <img src="../../../assets/image/bolso2.jpg" alt="product image">
    </div>
    <p class="tittle-descrip">Descripcion</p>
    <p class="product-description">Este es un bolso con la descripcion </p>

</div>