<div class="product-view-container">
    <div class="product-view-content">
        <div class="image-section">
            <img src="../../../assets/image/bolso2.jpg" alt="product image">
        </div>
        <div class="product-detail-section">
            <p class="product-name"> Bolso </p>
            <p class="price"> 76.000</p>
            <p class="product-description">Este es un bolso con la descripcion </p>
            <select name="" id="">
                <option value=""> Selecciona color</option>
                <option value=""> Negro</option>
                <option value=""> Rojo</option>
                <option value=""> Lila</option>
            </select>
            <div class="btn-add-cart">Añadir a mi carrito</div>
        </div>
    </div>
</div>
